html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
.navbar {
  padding: 20px;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  height: 575px;
  width: 100%;
}
.carousel-caption button {
  border: 1px solid #fff;
}
#projects {
  padding: 10px;
  margin-top: 10px;
}
.row {
  padding: 10px;
}
.row img {
  height: 200px;
}
#demo2 h3 {
  margin-top: 20px;
}
#demo p {
  margin-left: 20px;
  margin-right: 20px;
}
